/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: rgb(255, 234, 214);
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================= nav ================= */

nav{
    background-color:rgb(110, 50, 0);
    color: rgb(255, 255, 200);
    font-size: 0.7rem;
    padding: 25px;
}

nav div{
    background-color:rgb(110, 50, 0);
}

nav a{
    font-size: 2em;
    color: rgb(255, 255, 200);
    margin: 15px;
    font-style: italic;
}

nav a:hover {
    color: white;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
}

/* ================= header ================= */
/*
#fej{
    height: 150px;
    background-color:rgb(110, 50, 0);
    color: rgb(255, 255, 200);
    font-size: 3em;
    text-align: center;

    border-top: 2px solid black;
}*/

header {
    padding: 35px 0px;
    background-color:rgb(110, 50, 0);
    color: rgb(255, 255, 200);
    font-size: 2.5rem;
    text-align: center;
    border-top: 2px solid black;
}

header p {
    text-align: center;
}

/* ================= footer ================= */
/*
#lab{
    height: 150px;
    background-color:rgb(110, 50, 0);
    color: rgb(255, 255, 200);
    font-size: 2em;
}*/

footer {
    background-color:rgb(110, 50, 0);
    color: rgb(255, 255, 200);
    font-size: 1rem;
    padding:10px;
}

footer li{
    text-align: center;
    margin: 0.2rem;
}

footer img {
    width: 0.8rem;
    margin-right: 0.5rem;
}

/* ================= main ================= */
/*
#torzs{
    height: 500px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
}*/

main {
    height: calc(100vh - (0.7rem + 50px + 2.5rem + 70px + 2px + 3rem + 20px + 1.5rem));
}

main img {
    width: 100%;
    margin: 9vh 0vh;
}

/* ================= Faanyag ================= */

.tarto{    
    padding: 1rem;
    text-align: center;
}

.fakeret{
    height: 100%;
    border: 2px solid brown;
    text-align: center;
    margin: auto; 
    margin-bottom: 1rem;   
}

figure{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(110 50 0);
    padding: 10px;
}

figcaption{
    margin-top: 1rem;
    font-family: cursive;
    font-size: 14pt;
    background-color: rgb(255, 255, 200);
    padding: 5px 0;
}

.fakeret img{
    width: 10em;
    border-radius: 5rem;
    border: solid .2rem white;       
}

figcaption.leiras{
    text-align: justify;
    background-color: rgba(255,0,0,0.2);
    color: rgba(255 255 200);
    font-size: 0.9rem;
    padding: 1rem;
    margin: auto;
}



.festek {
    border: 3px dotted rgb(143, 143, 52);
    border-radius: 25px;
    padding: 1rem;
    margin: 15px;
    color: rgb(77, 37, 37);
}

.festek:hover {
    box-shadow:  rgba(255,0,0,0.2) 2px 2px 8px;

}

.festek h2 {
    font-size: 1.5rem;
    
}

      
      
.festek .festekszin 
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}


.kep {
    position: relative;
}

